.git/
log/*
!log/.keep
node_modules/
public/assets/
public/packs/
public/packs-test/
storage/*
!storage/.keep
tmp/*
!tmp/.keep
vendor

.bundle
.byebug_history
.dockerignore
.DS_Store
.env*
!.env.example
.gitignore
.yarn-integrity
config/master.key
config/credentials/development.key
config/credentials/production.key
docker-compose.override.yml
gitlab-ci.yml
yarn-error.log
yarn-debug.log*

CHANGELOG.md
README.md
LICENSE