<h1>Distribute USB Keys</h1>

<div id="distribution_status">
</div>
<div class="distribution_form">
  <%= form_tag(distribution_lookup_path) do %>
    Swipe Card or type NetID: <%= text_field_tag(:query, nil, options = {:size => 12, :maxlength => 12}) %>
    <p>
    <span id="distribution_count"><%= @count%></span> USB keys have been handed out.
    </p>
  <% end %>
</div>
