<h1>Swipe In to the Event</h1>
<h4>Swipe your card, and we'll record your netid / email.</h4>

<div id="distribution_status">
</div>
<div class="distribution_form">
  <%= form_tag distribution_lookup_path do %>
    Swipe Card or Type NetID: <%= text_field_tag(:query, nil, options = {:size => 12, :maxlength => 12}) %>
    <p>
        <span id="distribution_count" class="badge"><%= @count%></span> recorded.
    </p>
  <% end %>
</div>
