<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Boola boola!</h1>
    <p>
      Welcome to Cardswipr, you have successfully signed up,
      your username is: <%= @user.username %><br>
    </p>
    <p>
      To login, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
