<%= raw breadcrumbs('home', 'events', 'entry.event', 'Edit') %>

<h1><%= @attendance_entry.name %> <small>Edit</small></h1>

<%= render 'form' %>

<%= link_to 'Show', @attendance_entry, class: "btn btn-default" %>
