<%= raw breadcrumbs('home', 'events', 'entry.event', 'New') %>

<h1><%= @event.title %> <small>New Attendance Entry</small></h1>
<% akdfja.dkjf(a + '') %>
<%= render 'form' %>

<%= link_to 'Back', event_attendance_entries_path %>
