<ol class="breadcrumb">
  <li><%= link_to "Events", events_path %></li>
  <li><%= link_to @event.title, event_path(@event) %></li>
  <li>Edit</li>
</ol>

<div class="row">
  <div class="col-md-12">
    <h1><%= @event.title %> <small>Edit</small></h1>
    <%= render 'form' %>
  </div>
</div>