<ol class="breadcrumb">
  <li><%= link_to "Events", events_path %></li>
  <li>New</li>
</ol>
<div class="row">
  <div class="col-md-12">
    <h1>New event</h1>
    <%= render 'form' %>
  </div>
</div>