<div class="row">
When a lookup happens, there are two steps:
<ol>
  <li>We use the number scanned in from the card and turn it into Yale UPI (University Personal Identifier)</li>
  <li>We use the Yale UPI to lookup the person in the <a href="http://directory.yale.edu/phonebook/index.htm">Yale Directory</a> via the <a href="http://en.wikipedia.org/wiki/Lightweight_Directory_Access_Protocol">LDAP</a> protocol.</li>
</ol>

    <pre>
    +---------------+                 +---------------+                          +-----------+
    | YaleIDLookup  |                 | YaleCardSwipe |                          | YaleLDAP  |
    +---------------+                 +---------------+                          +-----------+
            |                                 |                                        |
            | magnetic or prox number         |                                        |
            |-------------------------------->|                                        |
            |                                 | ---------------------------------\     |
            |                                 |-| lookup in YaleIDCardLookup API |     |
            |                                 | |--------------------------------|     |
            |                                 |                                        |
            |                             UPI |                                        |
            |<--------------------------------|                                        |
            |                                 |                                        |
            | UPI                             |                                        |
            |------------------------------------------------------------------------->|
            |                                 |                                        | --------------------------\
            |                                 |                                        |-| directory lookup (LDAP) |
            |                                 |                                        | |-------------------------|
            |                                 |                                        |
            |                                 |       useful hash of person attributes |
            |<-------------------------------------------------------------------------|
            |                                 |                                        |
    </pre>
</div>