<div class="row">
  <h1>Hardware Recommendations</h1>
</div>
<div class="row">
  <div class="col-md-8">
    <h2>Guidelines</h2>
    <p>
      Prox Card &gt; Magnetic Stripe &gt; Keyboard
    </p>
    <ol>
      <li><strong>Prox Card</strong> is the most convenient, but also the most expensive. The device must be configured (once) to work with Yale IDs. Configuration settings are on the wiki page below.</li>
      <li><strong>Magnetic Stripe</strong> works well, but many people accidentally have to swipe a second time (flipping it around).</li>
      <li><strong>Keyboard</strong> is quick when someone has trouble getting their card out.</li>
    </ol>
    <h2>Where Can I Get A Device?</h2>
    <p>
      <ol>
        <li>Bass Library - Borrow one from <a href="https://reservations.yale.edu/bmec">Bass Library</a> (they may have some as of January 2014)</li>
        <li>Buy One - Order Online (see below)</li>
        <li>Keyboard Only - CardSwipr can be useful without a usb device. You can input people by netid, and it will still generate a useful list for you.</li>
      </ol>
    </p>
    <h3>I want my own, which one should I buy?</h3>
    <p>
      ITS doesn't officially endorse any particular brand/model, but a crowdsourced list can be found on this page.
    </p>
    <p>
      <a class="btn btn-default" href="https://github.com/YaleSTC/cardswipr/wiki/USB-Device-Recommendations/">Crowdsourced Wiki Page</a>
    </p>
    <h3>The one I bought worked / didn't work</h3>
    <p>
      Let us know! If you successfully/unsucessfully use another model, please update the hardware recommendations page. To edit the page, you must create a (free) github account.
    </p>
  </div>
  <div class="col-md-4">
    <%= image_tag "CardSwiprInputTypes.jpg", class: "img-responsive img-thumbnail" %>
  </div>
</div>