<h1>Welcome to CardSwipr</h1>

<%= button_to 'Create New Event', new_event_path, method: :get, :class => 'btn btn-primary btn-lg btn-block' %>
<p>
CardSwipr helps you take attendance at meetings and events. Attendees swipe in with an easy-to-use interface, and the application looks up and collects their information. When the event is over, you can download a spreadsheet (.csv) containing this information.
</p>

<div id='page'>

<%= link_to 'Getting Started', '#'%>
<%= link_to 'My Events', '/events'%>
<%= link_to 'Person Lookup', '#'%>

</div>
