<footer class='footer text-muted'>
  <ul class='footer-list'>
    <span>
      <li>Built by the <%= link_to 'Yale Student Developer and Mentorship Program', 'https://yalestc.github.io', target: '_blank' %></li>
    </span>
    <span class='right'>
      <li><%= link_to 'Accessibility at Yale', 'https://usability.yale.edu/web-accessibility/accessibility-yale', target: '_blank' %></li>
      <li>Contact the developers at <%= link_to 'app-dev@yale.edu', 'mailto:app-dev@yale.edu'%></li>
    </span>
  <ul>
</footer>
