<div class="container">
    <h1>The Home View!</h1>
    <div class="col-md-3">
    <h3>Present</h3>
    <ul>
        <li ng-repeat="person in people" ng-click='markAbsent(person)' ng-show='person.present == true'>{{person.name}}</li>
    </ul>
    </div>
    <div class="col-md-3">
    <h3>Absent</h3>
    <ul>
        <li ng-repeat="person in people" ng-click='markPresent(person)' ng-show='person.present == false'>{{person.name}}</li>
    </ul>
    </div>
</div>