<%= link_to "CardSwipr", root_path, :class => 'navbar-brand' %>
<ul class="nav navbar-nav">
  <% if can? :read, :personlookup %>
    <li>
      <%= link_to "Person Lookup", distribution_personlookup_path %>
    </li>
  <% end %>
  <% if can? :read, :events %>
    <li>
      <%= link_to "Events", events_path %>
    </li>
  <% end %>
</ul>
<ul class="nav navbar-nav pull-right">
  <li>
    <%= link_to "Signed in as #{current_user.netid}", root_path if current_user %>
  </li>
</ul>